.glass_card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.29);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.77);
}

.glass_card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
/* 
.card_image {
  border-radius: 50%;
  width: 2rem;
  margin: auto;
} */
